<div class="row">
  {{#each notes}}
    <div class="col-md-3">
      <div class="card m-b">
        <div class="card-body">
          <h4 class="card-title d-flex justify-content-between align-items-center">
            {{title}} <a href="/notes/edit/{{_id}}"><i class="fas fa-edit"></i></a>
          </h4>
          <p>{{description}}</p>
          <p><span class="blue-text">Meta: </span>{{quantity}} horas</p>
          <form action="/notes/delete/{{_id}}?_method=DELETE" method="POST">
              <input type="hidden" name="_method" value="DELETE">
              <button class="btn btn-danger btn-block btn-sm" type="submit">
                Eliminar
              </button>
          </form>
        </div>
      </div>
    </div>
  {{else}}
    <div class="card mx-auto">
      <div class="card-body">
        <p class="lead">No hay notas aún.</p>
        <a href="/notes/new" class="btn btn-primary btn-block">Crea una</a>
      </div>
    </div>
  {{/each}}
</div>